SourceDroid/ActionBarSherlock/JakeWharton-ActionBarSherlock-e5c2d1c/samples/demos/bin/.gitignore
SourceDroid/ActionBarSherlock/JakeWharton-ActionBarSherlock-e5c2d1c/samples/demos/bin/.project
SourceDroid/projectmanagement/gen/com/actionbarsherlock/R.java
*.class